body {
    font-family: sans-serif;
    background-color: rgb(255, 231, 231);
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

footer {
    padding: 2px;
    background-color: rgb(255, 142, 142);
    text-align: center;
    color: aliceblue;
}
