body {
    font-family: sans-serif;
    background-color: rgb(255, 221, 221);
}

h1 {
    text-align: center;
}

footer {
    padding: 2px;
    background-color: rgb(255, 142, 142);
    text-align: center;
    color: aliceblue;
}

header {
    text-align: center;
    background-color: rgb(255, 142, 142);
    margin: 10px;
    padding: 10px;
}

nav {
    text-decoration: none;
    text-align: center;
    background-color: rgb(255, 142, 142); 
    margin: 10px;
    padding: 10px;
}
